body{
	margin: 0;
	min-height: 100vh;
	font-family: system-ui;
	color:#eee;
	background: url(./img/uni4.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	/*background-image: linear-gradient(
		to bottom right,
		blue,
		purple,
		red	
	*/
	);
	display: flex;
	justify-content: center;
	align-items: center;


}
.abc{
    display: flex;
    column-gap: 4rem;
    padding: 2rem;
    justify-content: center;
}

}
.container{
	text-align: center;
}
.logo img{
	color: white;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 90px;
}
h1{
	font-size: xxx-large;
	font-weight: 100;
	text-align: center;

}
.time .item{
	position: relative;
	background-image:
	repeat-linear-gradient(
		to right bottom,
		#fff 0px, #fff 1px, transparent 1px, transparent 8px)



	;
}
.time{
	display: grid;
	grid-template-columns: 100px 100px 100px 100px;
	column-gap: 20px;
	grid-template-rows: 100px;

}
#day,
#hour,
#minute,
#second{
	font-size: xxx-large;
	font-weight: bold;
}
.time .item::before,
.time .item::after
{
	position: absolute;
	width: 6px;
	height: 20px;
	background-color: black;
	content: '';
	left: 0;
	top: 50%;
	transform: translate(0,-50%);
}
.time .item::after{
	left: unset;
	right: 0;
}
.container2{
	text-align: center;
	padding: 200px 50px 50px 50px;
}
